<h2>
  customers works!
</h2>


<table class="table table-sm table-light table-hover" id="tblCustomers">
		<thead class="thead-light">
			<th scope="col">Name</th>
			<th >-</th>
			<th >Contacts</th>
		</thead>
	
		<tbody>
		<tr *ngFor="let csmr of customers; let i = index" id="{{csmr.id}}">
			<td>{{csmr.name}}</td>
			<td>
				<a href="{{csmr.address.getGoogleMapURL()}}"  target="_blank" title="Google Map Location">
						<i class="fas fa-map-marker-alt"></i>
			</a></td>
			<td>
					<ng-template 
						[ngTemplateOutlet]="ShowContact" 
						[ngTemplateOutletContext]="{ $implicit: csmr, index: csmr.id }"
					></ng-template>				
			</td>
			<td>
					
				<!-- Edit Button -->
				<a 	class="btn btn-link btn-sm"
						*ngIf ="loginService.checkUserPermission(Permission.CAN_UPDATE_CUSTOMER)"
						title="Edit Customer"
						(click)="toggleEdit(csmr);">

						<i class="far fa-edit text-info"></i>
				</a>
				
				<!-- Delete Button -->
				<a class="btn btn-link btn-sm"
						*ngIf= "loginService.checkUserPermission(Permission.CAN_DELETE_CUSTOMER)"
						title="Delete Customer"
						(click)="deleteCustomer(csmr);"
				>
						<i class="far fa-trash-alt text-danger"></i>
				</a>
				
			</td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4">
					<button class="btn btn-primary" 
						*ngIf="loginService.checkUserPermission(Permission.CAN_INSERT_CUSTOMER)"
						(click)="toggleInsert()">
						<i class="fas fa-plus"></i> Add New Customer
					</button>
				</td>
			</tr>
		</tfoot>
</table>
	
<ng-template #ShowContact let-csmr>	
	<!-- <div class="container">-->
		<div class="row" *ngFor="let c of csmr.contacts" > 
			<div >{{c.name}}: </div>
			<div>
				
				<span  class="badge badge-info" *ngFor="let contID of c.lst" style="margin-left: 5px">
					<div *ngIf="util.isMail(contID)">
						
						<i class="fas fa-envelope"></i>
						{{contID}}
					</div>

					<span *ngIf="!util.isMail(contID)">
						<i class="fas fa-phone"></i>
						<a style="color: inherit" href="tel:{{contID}}">{{contID}}</a> &nbsp;
						<a style="color: inherit" href="whatsapp://send?abid=0564599127&text=Hello">
							<img width="16" src="../../assets/whatsapp.ico" alt="no icon">
						</a>
					</span>

				</span>
				
			</div>
		</div>
	<!-- </div> -->
</ng-template> 	

<!-- =================== ADD NEW CUSTOMER ================ -->

<form id='frmCustomer' #frmCustomer="ngForm" hidden style="background-color: rgb(206, 205, 241)">

	<button type="button" class="close" aria-label="Close"
				(click)="closeAddEditForm();"	>
			<span aria-hidden="true"> &times;</span>
	</button>
	<div class="form-group">	
			<label class="form-control-label-sm" for="cusName">Customer Name:</label>
			<input type="text" class="form-control form-control-sm" id="cusName" 
				[(ngModel)]="selectedCustomer.name" 
				name="name"
			>
	</div>

	<div class="form-row" *ngFor="let cusCont of selectedCustomer.contacts; let i = index">
		<div class="col-3 d-inline-flex">
			<!-- ==== Remove Contact ===== -->
			<button type="button" class="btn btn-link btn-sm"
				(click)="selectedCustomer.contacts.splice(i, 1)">
				<i class="far fa-trash-alt text-danger"></i>
			</button>
			<input type="text" class="form-control form-control-sm" id="ContName" placeholder="Contactor Name"
					[(ngModel)]="selectedCustomer.contacts[i].name" 
					name="cusCont{{i}}"	
			>
		</div>

		<div class="col-9">
				<input type="text" class="form-control-sm" id="Contid" placeholder="phone or email"
						*ngFor="let phoneNum of cusCont.lst; let j = index; trackBy:trackByFn"
						[(ngModel)]="selectedCustomer.contacts[i].lst[j]" 
						name="cContid{{i+'.'+j}}"	
				>
				<!-- ==== AddPhoneNumber Button ===== -->
				<button type="button" class="btn btn-link btn-sm"
							(click)="addPhoneNumber(cusCont)">
					<i class="text-success fas fa-plus-square"></i>
				</button>
		</div>
	</div>

	<!-- ==== AddNewContact Button ===== -->
	<div class="form-row">
		<button type="button" class="btn btn-link btn-md"
					(click)="addContactToSelectedCustomer()">
			<i class="text-success fas fa-plus-square"></i> Add one more contact
		</button>
	</div>

	<!-- ======== Submit & Clear ========= -->
	<div class="form-row">
		<div class="col-8">
			<button  type="submit" class="form-control btn btn-primary btn-sm"
								(click) = "onSubmit(frmCustomer)">
					<i class="fas fa-share-square"></i> Submit
			</button>
		</div>

		<div class="col-2">
				<button  class="btn btn-secondary btn-block btn-sm"
				onclick="document.getElementById('frmCustomer').reset();">
					<i class="fas fa-undo-alt"></i> Reset
				</button>
		</div>
		<div class="col-1">
		</div>
		
	</div>
		
</form>
